:root {
  --white: #ffffff;
  --dark-pine-green: #1d2f30;
  --energos: #bae249;
  --black-stallion: #0B1919;
  --boredom: #899D9D;
  --green-leaf: #506829;
  --disco-ball: #d4d4d4;
  --lime-it-or-leave-it: #91AC46;
}